
body{
    background-color: #2b879e;
}
form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 20px;
    padding: 50px;
    width:  min-content;
    align-items: center;
}
figure{
    display: flex;
    justify-content: center;
}

.input{
    min-width: 250px;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 10px; 
    outline: none;
    margin: 0px 0px 12px -5px;   
}

.input input{
    outline: none;
    border: none;
}
